.tableaux{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.tableau1 h2, .tableau2 h2, .tableau3 h2{
    text-align: center;
    padding-top: 2rem;
}

.tableau1, .tableau2, .tableau3{
    padding-bottom: 2rem;
}

.tableau_empty_line{
   height: 1rem;
}
/* tbody tr:nth-child(4n-2) {
    background-color: #c9c9c9;
  } */
  
  /* tbody tr:nth-child(3n+1) {
    background-color: #e0e0e0;
  } */

.table__img{
    max-width: 5rem;
    max-height: 5rem;
    padding: 0 0.2rem;
}
.table_img{
    display: flex;
}